.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.action {
    height: 64px;
}
